.flotTip {
  padding: 3px 5px !important;
  background-color: #000 !important;
  z-index: 100 !important;
  color: #fff !important;
  opacity: .80 !important;
  filter: alpha(opacity=85) !important;
}
